@import '../../styles/helpers/variables';
@import '../../styles/helpers/mixins';

.staff-list {
	position: relative;
	overflow: hidden;

	&__holder {
		margin: 0 -0.8rem -5rem;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;

		@include below($lg) {
			margin: 0 -0.8rem -3rem;
		}
	}

	&__li {
		$width: 16.66%;

		flex: 1 0 $width;
		max-width: $width;
		padding: 0 0.8rem 5rem;

		@include below($lg) {
			$width: 50%;

			flex: 1 0 $width;
			max-width: $width;
			padding: 0 0.8rem 3rem;
		}

		@include below($md) {
			$width: 33.33%;

			flex: 1 0 $width;
			max-width: $width;
		}

		@include below($sm) {
			$width: 50%;

			flex: 1 0 $width;
			max-width: $width;
		}

		&-el {
			$el: &;

			display: block;
			text-decoration: none;
			-webkit-tap-highlight-color: transparent;

			&-figure {
				position: relative;
				overflow: hidden;
				background-color: #ccc;

				&::before {
					content: "";
					display: block;

					@include ratio(294, 338);
				}
			}

			&-img {
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}

			&-cover {
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				background-color: $base-color;
				transition: transform $animation-speed 0.1s, opacity $animation-speed 0.1s;
				will-change: transform, opacity;
				transform: translate3d(-100%, 10%, 0);
				opacity: 0;

				@at-root {
					a#{$el}:hover & {
						transition-delay: 0s;
						transform: translate3d(0, 0, 0);
						opacity: 1;
					}

					a#{$el}:active & {
						background-color: $highlight-color--active;
					}
				}
			}

			&-link {
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 2rem;
				transition: transform $animation-speed, opacity $animation-speed;
				will-change: transform, opacity;
				transform: translate3d(-100%, 0, 0);
				opacity: 0;

				@at-root {
					a#{$el}:hover & {
						transition-delay: 0.1s;
						transform: translate3d(0, 0, 0);
						opacity: 1;
					}
				}
			}

			&-more {
				display: block;
				position: relative;
				font-style: normal;
				font-weight: bold;
				font-size: 1.4rem;
				line-height: 1.8rem;
				color: white;
				padding-right: 2rem;
				transition: color $animation-speed;

				&::before {
					content: "";
					display: block;
					position: absolute;
					right: -0.5rem;
					top: -0.3rem;
					height: 2.4rem;
					width: 2.4rem;
					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;
					background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTMuMTcyIDEyTDguMjIxOTggNy4wNDk5OUw5LjYzNTk4IDUuNjM1OTlMMTYgMTJMOS42MzU5OCAxOC4zNjRMOC4yMjE5OCAxNi45NUwxMy4xNzIgMTJaIiBmaWxsPSIjZmZmIi8+PC9zdmc+);
					transition: transform $animation-speed;
					transform: translate3d(0, 0, 0);
					will-change: transform;
				}

				&:hover::before {
					transform: translate3d(0.5rem, 0, 0);
				}
			}

			&-content {
				padding-top: 2.4rem;
				position: relative;

				@include below($lg) {
					padding-top: 1.5rem;
				}
			}

			&-title {
				font-weight: bold;
				font-size: 1.7rem;
				line-height: 2.8rem;
				color: $title-color-alt;
				margin: 0 0 0.1rem;
				transition: color $animation-speed;

				@include below($lg) {
					font-size: 1.6rem;
					line-height: 2.6rem;
				}

				@include below($sm) {
					font-size: 1.4rem;
					line-height: 2rem;
					margin-bottom: 0.5rem;
				}

				@at-root {
					a#{$el}:hover & {
						color: $link-color;
					}
				}
			}

			&-text {
				font-size: 1.7rem;
				line-height: 3.2rem;
				color: $text-color;
				transition: color $animation-speed;

				@include below($lg) {
					font-size: 1.6rem;
					line-height: 2.6rem;
				}

				@include below($sm) {
					font-size: 1.3rem;
					line-height: 1.8rem;
				}

				@at-root {
					a#{$el}:hover & {
						color: $link-color;
					}
				}
			}
		}
	}
}
