@import '../../styles/helpers/variables';
@import '../../styles/helpers/mixins';

.events-previews {
	$grid-space: $grid-space;
	$item-bottom-space: 5.6rem;
	$item-bottom-space--sm: 4rem;

	overflow: hidden;

	&__list {
		display: inline-block;
		width: calc(100% + #{$grid-space});
		margin: 0 -#{$grid-space / 2} -#{$item-bottom-space};

		@include below($lg) {
			width: 100%;
			margin: 0 0 -#{$item-bottom-space--sm};
		}
	}

	&__item-main {
		float: left;
		clear: left;
		min-height: 5rem;
		width: 50%;
		padding: 0 #{$grid-space / 2};
		margin-bottom: $item-bottom-space;

		@include below($lg) {
			float: none;
			width: auto;
			padding-left: 0;
			padding-right: 0;
			margin-bottom: $item-bottom-space--sm;
		}
	}

	&__item {
		float: right;
		clear: right;
		min-height: 5rem;
		width: 50%;
		padding: 0 #{$grid-space / 2} 0 #{$item-bottom-space};
		margin-bottom: 5.6rem;

		@include below($lg) {
			float: none;
			width: auto;
			padding-left: 0;
			padding-right: 0;
			margin-bottom: #{$item-bottom-space--sm};
		}
	}

	&__el {
		$el: &;

		color: inherit;
		text-decoration: none;
		-webkit-tap-highlight-color: transparent;

		&-title {
			$lh: 2.8rem;
			$count: 2;

			font-weight: bold;
			font-size: 1.7rem;
			line-height: $lh;
			color: $title-color-alt;
			height: $lh * $count;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: $count;
			margin: -0.8rem 0 1.2rem;
			transition: color $animation-speed;

			@include below($lg) {
				margin-top: 0;
			}

			@at-root {
				a#{$el}:hover & {
					color: $link-color;
				}
			}
		}

		&-text {
			$lh: 3.2rem;
			$count: 2;

			font-size: 1.7rem;
			line-height: $lh;
			color: $text-color;
			height: $lh * $count;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: $count;
			margin-bottom: 1.2rem;
			transition: color $animation-speed;

			@at-root {
				a#{$el}:hover & {
					color: $link-color;
				}
			}
		}

		&-sep {
			height: 3px;
			margin: 1.2rem 0 1.8rem;

			@include linear-gradient(to right, $base-gradient-color-start, $base-gradient-color-end);
		}

		&-meta {
			display: flex;
			align-items: center;
			justify-content: space-between;
			line-height: 1;

			&-date {
				display: block;
				font-style: normal;
				font-weight: bold;
				font-size: 1.2rem;
				line-height: 1.6rem;
				color: #2f343d;
				transition: color $animation-speed;

				@at-root {
					a#{$el}:hover & {
						color: $link-color;
					}
				}
			}

			&-more {
				display: block;
				position: relative;
				font-style: normal;
				font-weight: bold;
				font-size: 1.4rem;
				line-height: 1.8rem;
				color: #2f343d;
				padding-right: 2rem;
				margin-left: 2rem;
				transition: color $animation-speed;

				@at-root {
					a#{$el}:hover & {
						color: $link-color;
					}
				}

				&::before,
				&::after {
					content: "";
					display: block;
					position: absolute;
					right: -0.5rem;
					top: -0.3rem;
					height: 2.4rem;
					width: 2.4rem;
					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;
					transition: opacity $animation-speed;
				}

				&::before {
					background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTMuMTcyIDEyTDguMjIxOTggNy4wNDk5OUw5LjYzNTk4IDUuNjM1OTlMMTYgMTJMOS42MzU5OCAxOC4zNjRMOC4yMjE5OCAxNi45NUwxMy4xNzIgMTJaIiBmaWxsPSJibGFjayIvPjwvc3ZnPg==);
					opacity: 1;

					@at-root {
						a#{$el}:hover & {
							opacity: 0;
						}
					}
				}

				&::after {
					background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTMuMTcyIDEyTDguMjIxOTggNy4wNDk5OUw5LjYzNTk4IDUuNjM1OTlMMTYgMTJMOS42MzU5OCAxOC4zNjRMOC4yMjE5OCAxNi45NUwxMy4xNzIgMTJaIiBmaWxsPSIjMTI3OWM1Ii8+PC9zdmc+);
					opacity: 0;

					@at-root {
						a#{$el}:hover & {
							opacity: 1;
						}
					}
				}
			}
		}
	}

	&__el-main {
		$el: &;

		color: inherit;
		text-decoration: none;

		&-figure {
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			margin-bottom: 3.4rem;

			@include below($lg) {
				margin-bottom: 1.5rem;
			}

			&::before {
				content: "";
				display: block;

				@include ratio(558, 424);
			}
		}

		&-title {
			$lh: 4.2rem;
			$count: 3;

			font-weight: bold;
			font-size: 2.8rem;
			line-height: $lh;
			color: $title-color-alt;
			height: $lh * $count;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: $count;
			margin-bottom: 3.5rem;
			transition: color $animation-speed;

			@include below($lg) {
				$lh: 2.8rem;
				$count: 2;

				font-size: 1.7rem;
				line-height: $lh;
				height: $lh * $count;
				-webkit-line-clamp: $count;
				margin-bottom: 1.2rem;
			}

			@at-root {
				a#{$el}:hover & {
					color: $link-color;
				}
			}
		}

		&-sep {
			height: 3px;
			margin: 1.2rem 0 1.8rem;
			display: none;

			@include below($lg) {
				display: block;
			}

			@include linear-gradient(to right, $base-gradient-color-start, $base-gradient-color-end);
		}

		&-meta {
			display: flex;
			align-items: center;
			justify-content: space-between;
			line-height: 1;

			&-date {
				display: block;
				font-style: normal;
				font-weight: bold;
				font-size: 1.2rem;
				line-height: 1.6rem;
				color: #2f343d;
				transition: color $animation-speed;

				@at-root {
					a#{$el}:hover & {
						color: $link-color;
					}
				}
			}

			&-more {
				display: block;
				position: relative;
				font-style: normal;
				font-weight: bold;
				font-size: 1.4rem;
				line-height: 1.8rem;
				color: #2f343d;
				padding-right: 2rem;
				margin-left: 2rem;
				transition: color $animation-speed;

				@at-root {
					a#{$el}:hover & {
						color: $link-color;
					}
				}

				&::before,
				&::after {
					content: "";
					display: block;
					position: absolute;
					right: -0.5rem;
					top: -0.3rem;
					height: 2.4rem;
					width: 2.4rem;
					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;
					transition: opacity $animation-speed;
				}

				&::before {
					background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTMuMTcyIDEyTDguMjIxOTggNy4wNDk5OUw5LjYzNTk4IDUuNjM1OTlMMTYgMTJMOS42MzU5OCAxOC4zNjRMOC4yMjE5OCAxNi45NUwxMy4xNzIgMTJaIiBmaWxsPSJibGFjayIvPjwvc3ZnPg==);
					opacity: 1;

					@at-root {
						a#{$el}:hover & {
							opacity: 0;
						}
					}
				}

				&::after {
					background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTMuMTcyMiAxMkw4LjIyMjE3IDcuMDQ5OTlMOS42MzYxNyA1LjYzNTk5TDE2LjAwMDIgMTJMOS42MzYxNyAxOC4zNjRMOC4yMjIxNyAxNi45NUwxMy4xNzIyIDEyWiIgZmlsbD0iIzA3Mzc4OSIvPjwvc3ZnPg==);
					opacity: 0;

					@at-root {
						a#{$el}:hover & {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}
