.caption-section {
	$grid-space: $grid-space;

	margin-bottom: 11rem;
	overflow: hidden; // for aos animation

	@include below($lg) {
		margin-bottom: 4rem;
	}

	&:last-child {
		margin-bottom: 6.4rem;

		@include below($lg) {
			margin-bottom: 4rem;
		}
	}

	&__container {
		margin: 0 -#{$grid-space / 2};
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		@include below($lg) {
			display: block;
			margin: 0;
		}
	}

	&__heading {
		flex: 1 0 calc(100% - (58.33% + #{$grid-space / 2}));
		max-width: calc(100% - (58.33% + #{$grid-space / 2}));
		padding: 4.6rem #{$grid-space / 2} 0;

		@include below($lg) {
			max-width: none;
			padding: 0;
			margin-bottom: 3rem;
		}

		&-holder {
			padding-right: 17%;

			@include below($lg) {
				padding-right: 0;
			}
		}

		&-title {
			font-weight: bold;
			font-size: 6.4rem;
			line-height: 7rem;
			color: $base-gradient-color-start;
			margin-bottom: 2rem;

			@include below($lg) {
				font-size: 2.8rem;
				line-height: 4.2rem;
				margin-bottom: 2.5rem;
			}

			@supports (background-clip: text) {
				background: linear-gradient(to right, $base-gradient-color-start 0%, $base-gradient-color-end 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}

	&__content {
		flex: 1 0 calc(58.33% + #{$grid-space / 2});
		max-width: calc(58.33% + #{$grid-space / 2});
		padding: 0 #{$grid-space / 2};

		@include below($lg) {
			padding: 0;
			max-width: none;
		}
	}
}
